#op {
    width: 500px;
    height: 500px;
    background-color: magenta;
}
#rgba{
    width: 50%;
    height: 50%;
    /* rgba ka a is alpha channel it is a piece of a color but acts like opacity somewhat*/
    /* alpha is for transperency of the color  */
    background-color: rgba(255, 255, 255, 0.5);
    /* for hex add more 2 digits ranging the trancperency from oo to ff */
    /* background-color: #12f29090; */
}
#opacity{
    width: 50%;
    height: 50%;
    background-color: yellow;
    /* opacity is for transperncy for everything in the id */
    /* opacity applies to entire element and alpha to just the element */
    opacity: 0.65;
}
div{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid blacK;
    margin: 10px;
    display: inline-block;
}
#middle {
    background-color: #39705d;
}
#static #middle{
    position: static;
    top: 100px;
}
#relative .hello {
    background-color: #553970;
}
#relative #middle{
    /* this is relative to its og posn */
    position: relative;
    top: 50px;
    left: 50px;
}
#absolute #middle{
 /* this is relative to the body */
    position: absolute;
    top: 1200px;
    left: 100px;
}
#fixed #middle{
 /* this is relative to the body */
    position: fixed;
    top: 120px;
    left: 500px;
}

.circle1{
    width: 300px;
    height: 300px;
    background-color:orchid;
    /* this transition is for all elements */
    transition: 2s;
}
.circle1:hover{
    border-radius: 50%;
    background-color: aqua  ;
}
.circle2{
    width: 300px;
    height: 300px;
    background-color:orchid;
/* this transition is only for bg color , the 2sec wala is the delay in transition */
    transition: background-color 3s 1.5s;
}
.circle2:hover{
    border-radius: 50%;
    background-color: aqua  ;
}
#trans div{
    height: 100px;
    width: 100px;
    background-color: turquoise;
    display: block;
    margin: 20px 0;
    transition: margin-left 3s;
}
#trans div:hover{
    margin-left: 500px;
    display: block;
}
#trans div:nth-of-type(1){
    transition-timing-function: ease-in;
}
#trans div:nth-of-type(2){
    transition-timing-function: ease-out;
}
#trans div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.7,0,0.85,0);
}
#trans div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.85,0,0.15,1);
}
#transform1 h2, #transform2 h2{
    width: 250px ;
    height: 40px;
    border: 3px solid black;
    margin: 20px auto;
    text-transform:uppercase;
  text-align: center;
  padding-top: 10px;

}
#transform1 h2:nth-of-type(1){
    background-color:#f94144 ;
    /* yeh kaha iska origin hoga rotate ka woh bateygab  */
    /* transform-origin: bottom right ; */
    transform: rotate(45deg);
    /* transform:rotateX('45deg') this rotates in x axis */
}
#transform1 h2:nth-of-type(2){
    background-color:#f3722c ;
    transform:scale(0.6);
    /* transform: scale(0.6,2); yeh is with resp to x axis and y axis */
}
#transform1 h2:nth-of-type(3){
    transform: translate(200px,-100px);
    background-color:#f8961e ;
}
#transform1 h2:nth-of-type(4){
    background-color:#f9844a;
    transform: translate(-200px,10px);
}


#transform2 h2:nth-of-type(1){
    background-color:#f94144 ;
    transform: skew(30deg);
}
#transform2 h2:nth-of-type(2){
    background-color:#f3722c ;
    transform: skew(20deg,10deg);
}
#transform2 h2:nth-of-type(3){
    background-color:#f8961e ;
    transform: rotate(20deg) scale(1.3);
}
#transform2 h2:nth-of-type(4){
    background-color:#f9844a;
}
#transform2{
    transform: scale(0.7) rotate(10deg);

}


